        body{
		  background: #ebebeb;
		}
		.nav{
		  width:560px;
		  height: 40px;
		  font:bold 0/40px Arial;
		  text-align:center;
		  margin:40px auto;
	      background: #f65f57; 
          border-radius: 6px;
          box-shadow:0px 6px #bb4943;
		  /*制作圆*/  
          /*制作导航立体风格*/
          
		}
		.nav a{
		  display: inline-block;
		  -webkit-transition: all 0.2s ease-in;
		  -moz-transition: all 0.2s ease-in;
		  -o-transition: all 0.2s ease-in;
		  -ms-transition: all 0.2s ease-in;
		  transition: all 0.2s ease-in;
		}
		.nav a:hover{
		  -webkit-transform:rotate(10deg);
		  -moz-transform:rotate(10deg);
		  -o-transform:rotate(10deg);
		  -ms-transform:rotate(10deg);
		  transform:rotate(10deg);
		}

		.nav li{
		  position:relative;
		  display:inline-block;
		  padding:0 16px;
		  font-size: 14px;
		  text-shadow:1px 2px 4px rgba(0,0,0,.5);
		  list-style: none outside none;
		}
		.nav li:after {
            background-image:linear-gradient(to bottom,#f65f57,#B34439,#f65f57);
            content:"";
            width:1px;
            height:20px;
            position:absolute;
            right:1px;
            top:50%;
            margin-top:-10px;
            }
            /*删除第一项和最后一项导航分隔线*/
        .nav li:last-child:after {
            background-image:none;   
            }
		
		.nav a,
		.nav a:hover{
		  color:#fff;
		  text-decoration: none;
		}
